logic_app/code.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Create_container_group": {
                "inputs": {
                    "body": {
                        "location": "@{string('eastus')}",
                        "properties": {
                            "containers": [
                                {
                                    "name": "@{string(variables('runid'))}",
                                    "properties": {
                                        "environmentVariables": [
                                            {
                                                "name": "SOURCE_BLOB_NAME",
                                                "value": "@triggerBody()['Name']"
                                            },
                                            {
                                                "name": "SOURCE_BLOB_PATH",
                                                "value": "@triggerBody()['Path']"
                                            },
                                            {
                                                "name": "AZURE_STORAGE_CONNECTION_STRING",
                                                "value": "your-connection-string"
                                            },
                                            {
                                                "name": "RUNTYPE",
                                                "value": "logic_app_process_blob"
                                            },
                                            {
                                                "name": "TARGET_BLOB_CONTAINER",
                                                "value": "processed"
                                            }
                                        ],
                                        "image": "cjoakim/azure-blobs-core:latest",
                                        "resources": {
                                            "limits": {
                                                "cpu": 1,
                                                "memoryInGB": 2
                                            },
                                            "requests": {
                                                "cpu": 1,
                                                "memoryInGB": 2
                                            }
                                        }
                                    }
                                }
                            ],
                            "osType": "Linux",
                            "restartPolicy": "Never"
                        }
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['aci']['connectionId']"
                        }
                    },
                    "method": "put",
                    "path": "/subscriptions/@{encodeURIComponent('your-subscription-id')}/resourceGroups/@{encodeURIComponent('cjoakim-logic')}/providers/Microsoft.ContainerInstance/containerGroups/@{encodeURIComponent(variables('runid'))}",
                    "queries": {
                        "x-ms-api-version": "2017-10-01-preview"
                    }
                },
                "runAfter": {
                    "Initialize_variable": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Delay": {
                "inputs": {
                    "interval": {
                        "count": 1,
                        "unit": "Minute"
                    }
                },
                "runAfter": {
                    "Create_container_group": [
                        "Succeeded"
                    ]
                },
                "type": "Wait"
            },
            "Delete_container_group": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['aci']['connectionId']"
                        }
                    },
                    "method": "delete",
                    "path": "/subscriptions/@{encodeURIComponent('your-subscription-id')}/resourceGroups/@{encodeURIComponent('cjoakim-logic')}/providers/Microsoft.ContainerInstance/containerGroups/@{encodeURIComponent(variables('runid'))}",
                    "queries": {
                        "x-ms-api-version": "2017-10-01-preview"
                    }
                },
                "runAfter": {
                    "Get_logs_of_a_container": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Get_logs_of_a_container": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['aci']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/subscriptions/@{encodeURIComponent('your-subscription-id')}/resourceGroups/@{encodeURIComponent('cjoakim-logic')}/providers/Microsoft.ContainerInstance/containerGroups/@{encodeURIComponent(variables('runid'))}/containers/@{encodeURIComponent(string(variables('runid')))}/logs",
                    "queries": {
                        "x-ms-api-version": "2017-10-01-preview"
                    }
                },
                "runAfter": {
                    "Delay": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Initialize_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "runid",
                            "type": "string",
                            "value": "@{toLower(concat('c-', workflow().run.name))}"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "When_a_blob_is_added_or_modified_(properties_only)": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/datasets/default/triggers/batch/onupdatedfile",
                    "queries": {
                        "folderId": "JTJmc2ltdWxhdGlvbnM=",
                        "maxFileCount": 1
                    }
                },
                "metadata": {
                    "JTJmc2ltdWxhdGlvbnM=": "/simulations"
                },
                "recurrence": {
                    "frequency": "Minute",
                    "interval": 1
                },
                "splitOn": "@triggerBody()",
                "type": "ApiConnection"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "aci": {
                    "connectionId": "/subscriptions/your-subscription-id/resourceGroups/cjoakim-logic/providers/Microsoft.Web/connections/aci",
                    "connectionName": "aci",
                    "id": "/subscriptions/your-subscription-id/providers/Microsoft.Web/locations/eastus/managedApis/aci"
                },
                "azureblob": {
                    "connectionId": "/subscriptions/your-subscription-id/resourceGroups/cjoakim-logic/providers/Microsoft.Web/connections/azureblob",
                    "connectionName": "azureblob",
                    "id": "/subscriptions/your-subscription-id/providers/Microsoft.Web/locations/eastus/managedApis/azureblob"
                }
            }
        }
    }
}