automation/template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "connections_aci_name": {
            "defaultValue": "aci",
            "type": "String"
        },
        "connections_azureblob_name": {
            "defaultValue": "azureblob",
            "type": "String"
        },
        "workflows_cjoakimlogicaci_name": {
            "defaultValue": "cjoakimlogicaci",
            "type": "String"
        },
        "containerGroups_c_08586184336278477352290832571cu75_name": {
            "defaultValue": "c-08586184336278477352290832571cu75",
            "type": "String"
        },
        "containerGroups___encodeURIComponent_variables__runid_____externalid": {
            "defaultValue": "/subscriptions/@{encodeURIComponent('61761119-d249-4507-90c6-a16517e1874c')}/resourceGroups/@{encodeURIComponent('cjoakim-logic')}/providers/Microsoft.ContainerInstance/containerGroups/@{encodeURIComponent(variables('runid'))}",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.ContainerInstance/containerGroups",
            "apiVersion": "2018-10-01",
            "name": "[parameters('containerGroups_c_08586184336278477352290832571cu75_name')]",
            "location": "eastus",
            "properties": {
                "containers": [
                    {
                        "name": "[parameters('containerGroups_c_08586184336278477352290832571cu75_name')]",
                        "properties": {
                            "image": "cjoakim/azure-blobs-core:latest",
                            "ports": [],
                            "environmentVariables": [
                                {
                                    "name": "SOURCE_BLOB_NAME",
                                    "value": "elizabeth_bradt_1583173226.csv"
                                },
                                {
                                    "name": "SOURCE_BLOB_PATH",
                                    "value": "/simulations/elizabeth_bradt_1583173226.csv"
                                },
                                {
                                    "name": "AZURE_STORAGE_CONNECTION_STRING",
                                    "value": "DefaultEndpointsProtocol=https;AccountName=cjoakimstorage;AccountKey=LbYjx7iN48IJWJoUyd+QUl99ngWvQ+jM+vT3u8z31sa8UIC80AmsI6evUWFbao2rB9qYw3oAHfldxGr7gmKwfg==;EndpointSuffix=core.windows.net"
                                },
                                {
                                    "name": "RUNTYPE",
                                    "value": "logic_app_process_blob"
                                },
                                {
                                    "name": "TARGET_BLOB_CONTAINER",
                                    "value": "processed"
                                }
                            ],
                            "resources": {
                                "requests": {
                                    "memoryInGB": 2,
                                    "cpu": 1
                                },
                                "limits": {
                                    "memoryInGB": 2,
                                    "cpu": 1
                                }
                            }
                        }
                    }
                ],
                "restartPolicy": "Never",
                "osType": "Linux"
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_aci_name')]",
            "location": "eastus",
            "properties": {
                "displayName": "chjoakim@microsoft.com",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/61761119-d249-4507-90c6-a16517e1874c/providers/Microsoft.Web/locations/eastus/managedApis/', parameters('connections_aci_name'))]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('connections_azureblob_name')]",
            "location": "eastus",
            "properties": {
                "displayName": "cjoakimstorage-simulations",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/61761119-d249-4507-90c6-a16517e1874c/providers/Microsoft.Web/locations/eastus/managedApis/', parameters('connections_azureblob_name'))]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_cjoakimlogicaci_name')]",
            "location": "eastus",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('connections_aci_name'))]",
                "[resourceId('Microsoft.Web/connections', parameters('connections_azureblob_name'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_blob_is_added_or_modified_(properties_only)": {
                            "recurrence": {
                                "frequency": "Minute",
                                "interval": 1
                            },
                            "splitOn": "@triggerBody()",
                            "metadata": {
                                "JTJmc2ltdWxhdGlvbnM=": "/simulations"
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureblob']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/default/triggers/batch/onupdatedfile",
                                "queries": {
                                    "folderId": "JTJmc2ltdWxhdGlvbnM=",
                                    "maxFileCount": 1
                                }
                            }
                        }
                    },
                    "actions": {
                        "Create_container_group": {
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "location": "@{string('eastus')}",
                                    "properties": {
                                        "containers": [
                                            {
                                                "name": "@{string(variables('runid'))}",
                                                "properties": {
                                                    "environmentVariables": [
                                                        {
                                                            "name": "SOURCE_BLOB_NAME",
                                                            "value": "@triggerBody()['Name']"
                                                        },
                                                        {
                                                            "name": "SOURCE_BLOB_PATH",
                                                            "value": "@triggerBody()['Path']"
                                                        },
                                                        {
                                                            "name": "AZURE_STORAGE_CONNECTION_STRING",
                                                            "value": "DefaultEndpointsProtocol=https;AccountName=cjoakimstorage;AccountKey=LbYjx7iN48IJWJoUyd+QUl99ngWvQ+jM+vT3u8z31sa8UIC80AmsI6evUWFbao2rB9qYw3oAHfldxGr7gmKwfg==;EndpointSuffix=core.windows.net"
                                                        },
                                                        {
                                                            "name": "RUNTYPE",
                                                            "value": "logic_app_process_blob"
                                                        },
                                                        {
                                                            "name": "TARGET_BLOB_CONTAINER",
                                                            "value": "processed"
                                                        }
                                                    ],
                                                    "image": "cjoakim/azure-blobs-core:latest",
                                                    "resources": {
                                                        "limits": {
                                                            "cpu": 1,
                                                            "memoryInGB": 2
                                                        },
                                                        "requests": {
                                                            "cpu": 1,
                                                            "memoryInGB": 2
                                                        }
                                                    }
                                                }
                                            }
                                        ],
                                        "osType": "Linux",
                                        "restartPolicy": "Never"
                                    }
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['aci']['connectionId']"
                                    }
                                },
                                "method": "put",
                                "path": "[parameters('containerGroups___encodeURIComponent_variables__runid_____externalid')]",
                                "queries": {
                                    "x-ms-api-version": "2017-10-01-preview"
                                }
                            }
                        },
                        "Delay": {
                            "runAfter": {
                                "Create_container_group": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Wait",
                            "inputs": {
                                "interval": {
                                    "count": 1,
                                    "unit": "Minute"
                                }
                            }
                        },
                        "Delete_container_group": {
                            "runAfter": {
                                "Get_logs_of_a_container": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['aci']['connectionId']"
                                    }
                                },
                                "method": "delete",
                                "path": "[parameters('containerGroups___encodeURIComponent_variables__runid_____externalid')]",
                                "queries": {
                                    "x-ms-api-version": "2017-10-01-preview"
                                }
                            }
                        },
                        "Get_logs_of_a_container": {
                            "runAfter": {
                                "Delay": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['aci']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "[concat(parameters('containerGroups___encodeURIComponent_variables__runid_____externalid'), '/containers/@{encodeURIComponent(string(variables(''runid'')))}/logs')]",
                                "queries": {
                                    "x-ms-api-version": "2017-10-01-preview"
                                }
                            }
                        },
                        "Initialize_variable": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "runid",
                                        "type": "string",
                                        "value": "@{toLower(concat('c-', workflow().run.name))}"
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "aci": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_aci_name'))]",
                                "connectionName": "aci",
                                "id": "/subscriptions/61761119-d249-4507-90c6-a16517e1874c/providers/Microsoft.Web/locations/eastus/managedApis/aci"
                            },
                            "azureblob": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('connections_azureblob_name'))]",
                                "connectionName": "azureblob",
                                "id": "/subscriptions/61761119-d249-4507-90c6-a16517e1874c/providers/Microsoft.Web/locations/eastus/managedApis/azureblob"
                            }
                        }
                    }
                }
            }
        }
    ]
}